<div class="studyResourseBanner_w">
  <div class="studyResourseBanner"></div>
</div>
<h3 class="studyResourse_resourse"><i></i>资源提供</h3>
<ul class="studyResourse_Suport">
  <!-- <li *ngFor="let ResourseShow of resourse"><div class="studyResourse_circle">权重<br/>提升</div><div class="studyResourse_title">      {{ResourseShow.title}} </div><a class="studyResourse_more" target="_blank" href="#">查看详情</a></li> -->
  <li *ngFor = 'let ResoursePay of ResourseDataPay'>
    <div class="studyResourse_circle">
       <img src="{{ResoursePay.img}}" width="100%" height="100%" >
      </div>
      <div class="studyResourse_title">
        {{ResoursePay.ResourseName}}  
      </div>
      <button nz-button nzType="primary" (click)="showModalMiddle(ResoursePay.ResourseContent,ResoursePay.ResourseContent1,ResoursePay.ResourseContent2,ResoursePay.ResourseContent3,ResoursePay.ResourseContent4,ResoursePay.ResourseConnect,ResoursePay.ResourseTitle)" class="studyResourse_more">
        查看详情
      </button> 
  </li> 
  <li>
    <div class="studyResourse_circle"> 
      <img src="../../../assets/img/photograph.jpg" width="100%" height="100%" >
    </div>
    <p class="studyResourse_title">
        （米家摄影）大类目专拍
    </p>
    <button class="studyResourse_more buttonMore" (click)="showDetail()">
      查看详情
    </button> 
  </li>
  <nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisibleMiddle" nzTitle="{{title}}" (nzOnCancel)="handleCancelMiddle()" (nzOnOk)="handleOkMiddle()" nzCancelText = '我知道了' nzOkText = '确定'>
    <h3>资源介绍：</h3>
    <p>{{content}}  </p>
    <p> {{content1}}</p>
    <p>{{content2}}</p>
    <p> {{content3}}</p>
    <p>{{content4}}</p>
    <p *ngIf = 'show'>{{private}}</p>
    <p>{{connect}}</p>
  </nz-modal>
</ul>
<div style="position:fixed;left:0; top:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.5);z-index: 10;" *ngIf="onOff" (click)="hide()">
  <div style="width:1000px;height:300px;overflow:scroll;margin:100px auto 0;background:#fff;padding: 10px 100px">
    <p>关于拍摄：</p>
    <p>1.主要经营服装、鞋、帽、包的电商拍摄。模特图拍摄、服装平铺、挂拍、白底图、详情制作与设计、手绘效果图、买家秀等。</p>
    <p>2.可以接视频秀15秒左右</p>
    <p>3.女装买家秀拍摄5张/组</p>
    <p>关于团队：</p>
    <p>拥有多名商业品牌摄影师和资深后期团队，模特众多。</p>
    <p>关于领域：</p>
    <p>一家致力于电商和企业品牌视觉方案的创意团队。</p>
  </div>
</div>
<h3 class="studyResourse_resourse"><i></i>vip工具赠送</h3>
<ul class="studyResourse_Suport">
  <!-- <li *ngFor="let ResourseShow of resourse"><div class="studyResourse_circle">权重<br/>提升</div><div class="studyResourse_title">      {{ResourseShow.title}} </div><a class="studyResourse_more" target="_blank" href="#">查看详情</a></li> -->

    <li *ngFor = 'let ResourseTooldata of ResourseTool'>
      <div class="studyResourse_circle">
         <img src="{{ResourseTooldata.img}}" width="100%" height="100%" >
        </div>
        <div class="studyResourse_title">
          {{ResourseTooldata.ResourseName}}  
        </div>
        <button nz-button nzType="primary" (click)="showModalMiddle(ResourseTooldata.ResourseContent,ResourseTooldata.ResourseContent1,ResourseTooldata.ResourseContent2,ResourseTooldata.ResourseContent3,ResourseTooldata.ResourseContent4,ResourseTooldata.ResourseConnect,ResourseTooldata.ResourseTitle,ResourseTooldata.visible)" class="studyResourse_more">
          查看详情
        </button> 
    </li> 
   


</ul>
<h3 class="studyResourse_resourse"><i></i>非vip赠送工具 - 免费插件</h3>
<ul class="studyResourse_Suport">
  <!-- <li *ngFor="let ResourseShow of resourse"><div class="studyResourse_circle">权重<br/>提升</div><div class="studyResourse_title">      {{ResourseShow.title}} </div><a class="studyResourse_more" target="_blank" href="#">查看详情</a></li> -->
  <li *ngFor = 'let ResourseFreedata of ResourseFree'>
      <div class="studyResourse_circle"> <img src="{{ResourseFreedata.img}}" width="100%" height="100%" ></div><div class="studyResourse_title">{{ResourseFreedata.ResourseName}}  </div><button nz-button nzType="primary" (click)="showModalMiddle(ResourseFreedata.ResourseContent,ResourseFreedata.ResourseContent1,ResourseFreedata.ResourseContent2,ResourseFreedata.ResourseContent3,ResourseFreedata.ResourseContent4,ResourseFreedata.ResourseConnect,ResourseFreedata.ResourseTitle)" class="studyResourse_more">查看详情</button> 
    </li> 
  
</ul>
<h3 class="studyResourse_resourse"><i></i>货源区</h3>
<ul class="studyResourse_Suport">
  <!-- <li *ngFor="let ResourseShow of resourse"><div class="studyResourse_circle">权重<br/>提升</div><div class="studyResourse_title">      {{ResourseShow.title}} </div><a class="studyResourse_more" target="_blank" href="#">查看详情</a></li> -->
  <li *ngFor = 'let ResourseGooddata of ResourseGood'>
      <div class="studyResourse_circle"> 
        <img src="{{ResourseGooddata.img}}" width="100%" height="100%" >
      </div>
      <div class="studyResourse_title">
        {{ResourseGooddata.ResourseName}}  
      </div>
      <button nz-button nzType="primary" (click)="showModalMiddle(ResourseGooddata.ResourseContent,ResourseGooddata.ResourseContent1,ResourseGooddata.ResourseContent2,ResourseGooddata.ResourseContent3,ResourseGooddata.ResourseContent4,ResourseGooddata.ResourseConnect,ResourseGooddata.ResourseTitle)" class="studyResourse_more">查看详情

      </button> 
    </li> 
  
  
</ul>
<h3 class="studyResourse_resourse"></h3>


<!-- 11 -->