<div class="studyMapbanner_w">
  <div class="studyMapbanner"></div>
</div>
<h3 class="studyMap_Title studyMap_Earn">新手14天学习地图</h3>
<div class="styduMap_course">
  <div class="styduMap_courseLeft">
    <p class="styduMap_courseLeftTitle">第1天 瞄准正确方向</p>
    
      <daysfourteen [days]="lessonDaysVideo"></daysfourteen>
  
    <p class="styduMap_courseLeftTitle">第2天 搜索原理和爆款路径</p>
    <daysfourteen [days]="lessonDaysVideotwo"></daysfourteen>
    <p class="styduMap_courseLeftTitle">第3天 狠字诀打法</p>
    <daysfourteen [days]="lessonDaysVideothree"></daysfourteen>
   
    <p class="styduMap_courseLeftTitle">第4天 标题优化</p>
    <daysfourteen [days]="lessonDaysVideofour"></daysfourteen>
   
    <p class="styduMap_courseLeftTitle">第5天 主图制作及点击率测试</p>
    <daysfourteen [days]="lessonDaysVideofive"></daysfourteen>
   
    <p class="styduMap_courseLeftTitle">第6天 直通车基础入门</p>
    <daysfourteen [days]="lessonDaysVideosix"></daysfourteen>
    
    <p class="styduMap_courseLeftTitle">第7天 直通5大目的实现</p>
    <daysfourteen [days]="lessonDaysVideoseven"></daysfourteen>
    
    <p class="styduMap_courseLeftTitle">第8天 店铺营销设置</p>
    <daysfourteen [days]="lessonDaysVideoeight"></daysfourteen>
    
    <p class="styduMap_courseLeftTitle">第9天 淘客及达人推广</p>
    <daysfourteen [days]="lessonDaysVideonine"></daysfourteen>
   
    <p class="styduMap_courseLeftTitle">第10天 转化率提升</p>
    <daysfourteen [days]="lessonDaysVideoten"></daysfourteen>
   
    <p class="styduMap_courseLeftTitle">第11天 竖屏策划</p>
    <daysfourteen [days]="lessonDaysVideoeleven"></daysfourteen>
   
    <p class="styduMap_courseLeftTitle">第12天 数据分析</p>
    <daysfourteen [days]="lessonDaysVideotwelve"></daysfourteen>
   
    <p class="styduMap_courseLeftTitle">第13天 短视频策划及制作</p>
    <daysfourteen [days]="lessonDaysVideothirteen"></daysfourteen>
    
    <p class="styduMap_courseLeftTitle">第14天 美工</p>
    <daysfourteen [days]="PhotoShop"></daysfourteen>
    
  </div>
  <div class="styduMap_courseRight">
    <h3 class="studyMap_Righttitle">免费开店</h3>
    <ul class="studyMap_Tags">
      <li><a href="http://taobaojy.com/#/CourseDetail?id=180" target="_blank">3分钟开店</a></li>
      <li><a href="http://taobaojy.com/#/CourseDetail?id=216" target="_blank">新手如何起步</a></li>
      <li><a href="http://taobaojy.com/#/CourseDetail?id=184" target="_blank">开店资源及违规</a></li>
      <li><a href="http://taobaojy.com/#/CourseDetail?id=185" target="_blank">什么行业最赚钱</a></li>
      <li><a href="http://taobaojy.com/#/CourseDetail?id=204" target="_blank">寻找优质资源</a></li>
      <li><a href="http://taobaojy.com/#/CourseDetail?id=189" target="_blank">发布宝贝流程</a></li>
    </ul>
    <h3 class="studyMap_Righttitle">免费引流</h3>
    <ul class="studyMap_Tags">
      <li><a href="http://taobaojy.com/#/CourseDetail?id=213" target="_blank">权重解析</a></li>
      <li><a href="http://taobaojy.com/#/CourseDetail?id=186" target="_blank">千人千面</a></li>
      <li><a href="http://taobaojy.com/#/CourseDetail?id=44" target="_blank">标题优化</a></li>
      <li><a href="http://taobaojy.com/#/CourseDetail?id=205" target="_blank">手淘首页</a></li>
      <li><a href="http://taobaojy.com/#/CourseDetail?id=44" target="_blank">优秀同行分析</a></li>
    </ul>
    <h3 class="studyMap_Righttitle">付费引流</h3>
    <ul class="studyMap_Tags">
      <li><a href="http://taobaojy.com/#/CourseDetail?id=217" target="_blank">直通车入门</a></li>
      <li><a href="http://taobaojy.com/#/CourseDetail?id=218" target="_blank">测款测图</a></li>
      <li><a href="http://taobaojy.com/#/CourseDetail?id=211" target="_blank">低价引流</a></li>
      <li><a href="http://taobaojy.com/#/CourseDetail?id=202" target="_blank">钻展入门</a></li>
      <li><a href="http://taobaojy.com/#/CourseDetail?id=214" target="_blank">找淘宝客</a></li>
      <li><a href="http://taobaojy.com/#/CourseDetail?id=211" target="_blank">打造爆款</a></li>
    </ul>
    <h3 class="studyMap_Righttitle">店铺视觉</h3>
    <ul class="studyMap_Tags">
      <li><a href="http://taobaojy.com/#/CourseDetail?id=193" target="_blank">ps入门常识</a></li>
      <li><a href="http://taobaojy.com/#/CourseDetail?id=194" target="_blank">抠图技巧</a></li>
      <li><a href="http://taobaojy.com/#/CourseDetail?id=195" target="_blank">切片</a></li>
      <li><a href="http://taobaojy.com/#/CourseDetail?id=196" target="_blank">主图制作</a></li>
      <li><a href="http://taobaojy.com/#/CourseDetail?id=197" target="_blank">素材网站</a></li>
    </ul>
    <h3 class="studyMap_Righttitle">其他</h3>
    <ul class="studyMap_Tags">
      <li><a href="http://taobaojy.com/#/CourseDetail?id=190" target="_blank">客服营销</a></li>
      <li><a href="http://taobaojy.com/#/CourseDetail?id=44" target="_blank">老客户维护</a></li>
      <li><a href="http://taobaojy.com/#/CourseDetail?id=187" target="_blank">差评处理</a></li>
      <li><a href="http://taobaojy.com/#/CourseDetail?id=210" target="_blank">发微淘</a></li>
    </ul>
  </div>
</div>
