<ul nz-menu [nzMode]="'vertical'">
  <li nz-submenu class="aside_nav">
    <p title style="line-height: 40px"> 免费开店 </p>
    <span title class="aside_subnav">开店流程</span>
    <span title class="aside_subnav">寻找货源</span>
    <span title class="aside_subnav">店铺设置 </span>
    <ul>
      <li nz-menu-group class="aside_subMain">
        <span title class="aside_subcontent">开店流程</span>
        <ul>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=180" target="_blank"> 3分钟开店</a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=216" target="_blank">新手如何起步 </a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=184" target="_blank">开店规则及违规</a></li>
        </ul>
      </li>
    </ul>
    <ul>
      <!--<li nz-menu-group>-->
      <!--<ul>-->
      <!--<li nz-menu-item>Option 1</li>-->
      <!--<li nz-menu-item>Option 2</li>-->
      <!--</ul>-->
      <!--</li>-->
      <li nz-menu-group class="aside_subMain">
        <span title class="aside_subcontent">寻找货源</span>
        <ul>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=185" target="_blank"> 什么行业赚钱 </a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=204" target="_blank">寻找优质货源 </a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=44" target="_blank">选款和定价 </a></li>
        </ul>
      </li>
      <li nz-menu-group class="aside_subMain">
        <span title class="aside_subcontent">店铺设置</span>
        <ul>

          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=189" target="_blank">发布宝贝流程 </a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=44" target="_blank">pc店铺设置</a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=44" target="_blank">无线店铺设置</a></li>
        </ul>
      </li>
      <li nz-menu-group class="aside_subMain">
        <span title class="aside_subcontent">店铺装修</span>
        <ul>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=206" target="_blank">pc店铺装修 </a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=188" target="_blank">无线店铺装修</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu class="aside_nav">
    <p title style="line-height: 40px"> 免费引流 </p>
    <span title class="aside_subnav">自然搜索 </span>
    <span title class="aside_subnav">排名爬升 </span>
    <span title class="aside_subnav">数据分析</span>
    <ul>
      <!--<li nz-menu-group>-->
      <!--<ul>-->
      <!--<li nz-menu-item>Option 1</li>-->
      <!--<li nz-menu-item>Option 2</li>-->
      <!--</ul>-->
      <!--</li>-->
      <li nz-menu-group class="aside_subMain">
        <span title class="aside_subcontent">自然搜索</span>
        <ul>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=213" target="_blank">权重解析 </a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=186" target="_blank">千人千面</a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=44" target="_blank">标题优化 </a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=205" target="_blank">手淘首页 </a></li>
        </ul>
      </li>
    </ul>
    <ul>
      <!--<li nz-menu-group>-->
      <!--<ul>-->
      <!--<li nz-menu-item>Option 1</li>-->
      <!--<li nz-menu-item>Option 2</li>-->
      <!--</ul>-->
      <!--</li>-->
      <li nz-menu-group class="aside_subMain">
        <span title class="aside_subcontent">排名爬升</span>
        <ul>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=219" target="_blank">14天搜索爬升</a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=220" target="_blank">狠字打法  </a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=44" target="_blank">卡首屏技术  </a></li>
        </ul>
      </li>
      <li nz-menu-group class="aside_subMain">
        <span title class="aside_subcontent">数据分析</span>
        <ul>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=44" target="_blank">转化率提升  </a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=208" target="_blank">生意参谋解读  </a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=44" target="_blank">优秀同行分析  </a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu class="aside_nav">
    <p title style="line-height: 40px"> 付费引流 </p>
    <span title class="aside_subnav">直通车</span>
    <span title class="aside_subnav">钻展</span>
    <span title class="aside_subnav">淘宝客</span>
    <ul>
      <!--<li nz-menu-group>-->
      <!--<ul>-->
      <!--<li nz-menu-item>Option 1</li>-->
      <!--<li nz-menu-item>Option 2</li>-->
      <!--</ul>-->
      <!--</li>-->
      <li nz-menu-group class="aside_subMain">
        <span title class="aside_subcontent">直通车</span>
        <ul>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=217" target="_blank">直通车基础入门</a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=218" target="_blank">测款测图</a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=211" target="_blank">低价引流</a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=44" target="_blank">打造爆款</a></li>
        </ul>
      </li>
      <li nz-menu-group class="aside_subMain">
        <span title class="aside_subcontent">钻展</span>
        <ul>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=202" target="_blank">钻展入门</a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=209" target="_blank">钻展精准圈人</a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=44" target="_blank">钻展高阶玩法</a></li>
        </ul>
      </li>
      <li nz-menu-group class="aside_subMain">
        <span title class="aside_subcontent">淘宝客</span>
        <ul>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=214" target="_blank">找淘宝客</a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=212" target="_blank">淘宝客基础</a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=44" target="_blank">淘客玩法</a></li>
        </ul>
      </li>
    </ul>
  </li>

  <li nz-submenu class="aside_nav">
    <p title style="line-height: 40px"> 	店铺视觉 </p>
    <span title class="aside_subnav">Ps基础</span>
    <span title class="aside_subnav">主图制作</span>
    <span title class="aside_subnav">短视频制作</span>
    <ul>
      <!--<li nz-menu-group>-->
      <!--<ul>-->
      <!--<li nz-menu-item>Option 1</li>-->
      <!--<li nz-menu-item>Option 2</li>-->
      <!--</ul>-->
      <!--</li>-->
      <li nz-menu-group class="aside_subMain">
        <span title class="aside_subcontent">Ps基础入门</span>
        <ul>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=193" target="_blank">ps入门常识</a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=194" target="_blank">抠图技巧</a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=195" target="_blank">切片</a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=196" target="_blank">主图制作</a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=197" target="_blank">素材网站</a></li>
        </ul>
      </li>
      <li nz-menu-group class="aside_subMain">
        <span title class="aside_subcontent">主图详情制作</span>
        <ul>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=44" target="_blank">卖点提炼</a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=44" target="_blank">主图优化</a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=44" target="_blank">详情页制作</a></li>
        </ul>
      </li>
      <li nz-menu-group class="aside_subMain">
        <span title class="aside_subcontent">短视频制作</span>
        <ul>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=44" target="_blank">短视频策划</a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=44" target="_blank">短视频拍摄</a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=44" target="_blank">短视频制作</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu class="aside_nav">
    <p title style="line-height: 40px"> 其他 </p>
    <span title class="aside_subnav">客服营销</span>
    <span title class="aside_subnav">微淘运营</span>
    <span title class="aside_subnav">达人合作</span>
    <ul>
      <!--<li nz-menu-group>-->
      <!--<ul>-->
      <!--<li nz-menu-item>Option 1</li>-->
      <!--<li nz-menu-item>Option 2</li>-->
      <!--</ul>-->
      <!--</li>-->
      <li nz-menu-group class="aside_subMain">
        <span title class="aside_subcontent">客服营销</span>
        <ul>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=190" target="_blank">客服营销</a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=44" target="_blank">老客户维护</a></li>
          <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=187" target="_blank">差评处理</a></li>
        </ul>
      </li>
      <li nz-menu-group class="aside_subMain">
      <span title class="aside_subcontent">微淘运营</span>
      <ul>
        <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=210" target="_blank">发微淘</a></li>
        <li nz-menu-item class="aside_subcontent"><a href="http://taobaojy.com/#/CourseDetail?id=44" target="_blank">粉丝维护</a></li>
      </ul>
    </li>
      <li nz-menu-group class="aside_subMain">
        <span title class="aside_subcontent">达人合作</span>
        <ul>
          <li nz-menu-item class="aside_subcontent">寻找达人</li>
          <li nz-menu-item class="aside_subcontent">达人合作</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
